<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ScreenDatasourceMapper">

    <resultMap type="ScreenDatasource" id="ScreenDatasourceResultShort">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="desc"    column="desc"    />
        <result property="status"    column="status"    />
    </resultMap>

    <resultMap type="ScreenDatasource" id="ScreenDatasourceResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="desc"    column="desc"    />
        <result property="version"    column="version"    />
        <result property="ip"    column="ip"    />
        <result property="port"    column="port"    />
        <result property="database"    column="database"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="otherInfo"    column="other_info"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectScreenDatasourceVoShort">
        select id, name, type, `desc`,  status from screen_datasource
    </sql>

    <sql id="selectScreenDatasourceVo">
        select id, name, type, `desc`, version, ip, port, `database`, username, `password`, other_info, status, create_time, create_by, update_time, update_by from screen_datasource
    </sql>

    <select id="selectScreenDatasourceList" parameterType="ScreenDatasource" resultMap="ScreenDatasourceResultShort">
        <include refid="selectScreenDatasourceVoShort"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="desc != null  and desc != ''"> and `desc` = #{desc}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="ip != null  and ip != ''"> and ip = #{ip}</if>
            <if test="port != null  and port != ''"> and port = #{port}</if>
            <if test="database != null  and database != ''"> and `database` = #{database}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and `password` = #{password}</if>
            <if test="otherInfo != null  and otherInfo != ''"> and other_info = #{otherInfo}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="showMyDatasourceInfo" parameterType="ScreenDatasource" resultMap="ScreenDatasourceResult">
        <include refid="selectScreenDatasourceVo"/>
        <where>
            <if test="id != null and id != ''"> and id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="desc != null  and desc != ''"> and `desc` = #{desc}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="ip != null  and ip != ''"> and ip = #{ip}</if>
            <if test="port != null  and port != ''"> and port = #{port}</if>
            <if test="database != null  and database != ''"> and `database` = #{database}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and `password` = #{password}</if>
            <if test="otherInfo != null  and otherInfo != ''"> and other_info = #{otherInfo}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="exportScreenDatasourceList" parameterType="ScreenDatasource" resultMap="ScreenDatasourceResult">
        <include refid="selectScreenDatasourceVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectScreenDatasourceById" parameterType="Long" resultMap="ScreenDatasourceResult">
        <include refid="selectScreenDatasourceVo"/>
        where id = #{id}
    </select>

    <select id="selectSourceOptionsByUsername" parameterType="String" resultType="java.util.Map">
        SELECT
            sd.name as label,
            sd.id as value
        FROM
            screen_datasource sd
        WHERE
            sd.status = 1
          AND sd.id NOT IN (
            SELECT smd.datasource_id
            FROM sys_user su
                     INNER JOIN screen_my_datasource smd ON su.user_id = smd.user_id
            WHERE su.user_name = #{username}
              AND smd.auth_status = 1
        )
    </select>

    <insert id="insertScreenDatasource" parameterType="ScreenDatasource" useGeneratedKeys="true" keyProperty="id">
        insert into screen_datasource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="desc != null">`desc`,</if>
            <if test="version != null">version,</if>
            <if test="ip != null">ip,</if>
            <if test="port != null">port,</if>
            <if test="database != null">`database`,</if>
            <if test="username != null">username,</if>
            <if test="password != null">`password`,</if>
            <if test="otherInfo != null">other_info,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="desc != null">#{desc},</if>
            <if test="version != null">#{version},</if>
            <if test="ip != null">#{ip},</if>
            <if test="port != null">#{port},</if>
            <if test="database != null">#{database},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="otherInfo != null">#{otherInfo},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateScreenDatasource" parameterType="ScreenDatasource">
        update screen_datasource
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="version != null">version = #{version},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="port != null">port = #{port},</if>
            <if test="database != null">`database` = #{database},</if>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="otherInfo != null">other_info = #{otherInfo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScreenDatasourceById" parameterType="Long">
        delete from screen_datasource where id = #{id}
    </delete>

    <delete id="deleteScreenDatasourceByIds" parameterType="String">
        delete from screen_datasource where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>